:root{
    --light-grey: rgba(33, 33, 33);
    --dark-grey: rgba(22, 22, 22);
}

body{
    font-family: 'Roboto', 'Arial', sans-serif;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    padding: 0;
    margin: 0;
    color: white;
}

.hidden{
    visibility: collapse;
    display: none !important;
}

.center-align{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    background-color: var(--light-grey);
}

.content{
    height: calc(100vh - 200px);
    background-color: var(--dark-grey);
}

.add{
    display: inline-block;
}

#add-button{
    border-radius: 100%;
}

#add-button img{
    width: 100px;
}

.book{
    border: red 1px solid;
    width: 200px;
    height: auto;
    padding: 8px;
    margin-right: 1rem;
    display: inline-block;
    text-align: center;
}

.book h4{
    margin: 0;
    color: blueviolet;
}

.book p{
    margin: 8px;
}

.footer{
    background-color: var(--light-grey);
}

ul{
    list-style-type: none;
}
